<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-6 fw-bold">Editar Tarea</h1>
                <form action="{% url 'edit_task' task.id %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}
                    <label for="title">Título:</label>
                    <input type="text" id="titulo" name="title" value="{{ task.title }}" required class="form-control mb-2">

                    <label for="description">Descripción:</label>
                    <textarea id="descripcion" name="description" class="form-control mb-2">{{ task.description }}</textarea>

                    <label for="capital">Ubicaci&oacute;n:</label>
                    <select id="capital" name="capital" class="form-control mb-2">
                        <option value="Bogotá" {% if tasks.ciudad == "Bogotá" %}selected{% endif %}>Bogotá</option>
                        <option value="Medellín" {% if tasks.ciudad == "Medellín" %}selected{% endif %}>Medellín</option>
                        <option value="Cali" {% if tasks.ciudad == "Cali" %}selected{% endif %}>Cali</option>
                        <option value="Barranquilla" {% if tasks.ciudad == "Barranquilla" %}selected{% endif %}>Barranquilla</option>
                        <option value="Cartagena" {% if tasks.ciudad == "Cartagena" %}selected{% endif %}>Cartagena</option>
                    </select>

                    <label for="completed">Completada:</label>
                    <input type="checkbox" id="completed" name="completed" {% if task.completed %} checked {% endif %}>

                    <button type="submit" class="btn btn-success mt-2">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
