{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-6 fw-bold">Tareas</h1>
                <form action="{% url 'create_task' %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}
                    <label for="title">Título:</label>
                    <input type="text" id="titulo" name="title" maxlength="30" placeholder="t&iacute;tulo" required class="form-control mb-2">

                    <label for="description">Descripción:</label>
                    <textarea id="descripcion" name="description" maxlength="255" placeholder="descripci&oacute;n" class="form-control mb-2"></textarea>

                    <label for="capital">Ubicaci&oacute;:</label>
                    <select id="capital" name="capital" class="form-control mb-2">
                        <option value="Bogotá">Bogotá</option>
                        <option value="Medellín">Medellín</option>
                        <option value="Cali">Cali</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cartagena">Cartagena</option>
                    </select>

                    <label for="completed">Completada:</label>
                    <input type="checkbox" id="completed" name="completed">

                    <button type="submit" class="btn btn-success mt-2">Guardar</button>
                </form>
                {% for task in tasks %}
                    <p class="mb-2">Titulo: {{ task.title}}</p>
                    <p>Descripcion: {{task.description}}</p>
                    <p>Completa: {{task.completed}}</p>
                    <p>Nota: {{task.quote}}</p>
                    <form action="{% url 'delete_task' task.id%}" method="POST" style="display: inline-block;">
                        {% csrf_token %}    
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-primary ml-2">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </form>    
                {% empty %}
                    <h1 class="display-4 text-center">No hay tareas disponibles</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>